<div id="<%= dom_id twont %>" class="card">
  <div class="card-body">
  <%= twont.twont %>
  <button type="button" class="btn btn-outline-primary position-absolute end-0">
    <%= link_to "Show this twont", twont %>
  </button>
  </div>
</div>
